<nav id="navbardivid">
  <div id="navbaricondiv">
    <div id="logodivid">
      <img src="assets/images/logo.png" alt="Logo" id="logoid" />
      <b>
        <i> ShopQ </i>
      </b>
    </div>
    <div id="searchdivid">
      <input type="text" placeholder="Search" class="form-control" />
      <i class="bi bi-search" id="searchiconid"></i>
    </div>
    <div id="cartdivid">
      <i class="bi bi-cart" id="carticonid"></i>
      <span id="cartcountid">0</span>
    </div>
    <div id="profiledivid">
      <i class="bi bi-person" id="profileiconid"></i>
    </div>
  </div>
</nav>
