<div id="webpage">
    <div id="loginpage">
        
        <div id="logo">
            <img src="assets/images/logo.png" alt="Logo" />
            <h3>ShopQ</h3>
            <h2><i>The Ultimate Shoping Experience</i></h2>
        </div>

        <div id="loginfields">
            <span>
                <h2>Login</h2>
            </span>
            <div>
                <form>
                    <div id="usernamedivid">
                        <input type="text" placeholder="username" id="usernameid"/>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
