<div id="webpage">
    <div id="loginpage">
        
        <div id="logo">
            <img src="assets/images/logo.png" alt="Logo" />
            <h1>ShopQ</h1>
            <h4><i>The Ultimate Shoping Experience</i></h4>
        </div>

        <div id="loginfields">
            <span>
                <h2>Login</h2>
            </span>
            <div>
                <form>
                    <div id="usernamedivid">
                        <input type="text" placeholder="username" id="usernameid" class="form-control mt-3"/>
                        <label for="usernameid" id="usernameid" class="form-label">Username</label>
                    </div>
                    <div id="passworddivid">
                        <input type="password" placeholder="password" id="passwordid" class="form-control mt-3"/>
                        <label for="passwordid" id="passwordid" class="form-label">Password</label>
                    </div>
                    <div id="loginbuttondivid">
                        <button type="button" class="btn btn-primary mt-3" id="loginbuttonid" >Login</button>
                    </div>
                    <div id="signupdivid">
                        <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
