<div id="profiledivid">

  <div id="myprofiledivid" routerLink="/MyProfile">
    <i class="bi bi-person" id="profileiconid"></i>
    <span id="profiletextid">My Profile</span>
  </div>

  <div id="myordersdivid" routerLink="/MyOrders">
    <i class="bi bi-bag" id="ordersiconid"></i>
    <span id="orderstextid">My Orders</span>
  </div>

  <div id="mywishlistdivid" routerLink="/MyWishlist">
    <i class="bi bi-heart" id="wishlisticonid"></i>
    <span id="wishlisttextid">My Wishlist</span>
  </div>

  <div id="logoutdivid" routerLink="/logout">
    <i class="bi bi-box-arrow-right" id="logouticonid"></i>
    <span id="logouttextid">Logout</span>
  </div>

</div>